.project-images {
  @include at-mobile {
    height:100%;
  }
  
  .inner {
    @include at-mobile {
      height:100%;
    }
  }
}

.slideshow {
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index:1;
  min-width:$min-width;
  overflow:hidden;
  
  .project-images, .project-images .container {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:0;
    left:0;
    
    .project-block {
      width:100%;
      height:100%;
      
    }
  
  }
  
  .project-block {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center center;
    visibility:hidden;
    
    @include at-mobile {
      position:relative;
      visibility:visible;
    }
    
    .text {
      margin:0 auto;
      position:relative;
      
    }
    
    .caption-text {
      z-index:9;
    
    }
      
      .video-player, img {
      
        @include transition(.5s opacity);
        transition-property:opacity, -webkit-filter;
        @include blur(20);
        //@include opacity(0);
        -webkit-transition-timing-function: linear; /* Safari and Chrome */
        transition-timing-function: linear;
        
        @include at-mobile {
          @include blur(0);
          @include transition(none);
        }
        
      }
    
    
    
    img {
      //@include transform(scale(1.2));
    }
    
    
    &.first {
      @include opacity(1);
      @include blur(0);
      visibility:visible;
      
      .video-player, img {
        @include opacity(1);
        @include blur(0);
      }
      
    }
    
    &.active {
      visibility:visible;
      
      .video-player, img {
        @include blur(0);
        @include opacity(1);
      }
      
    }
    
    .text, .block-inner {
      height: 100%;
    }
    
    img {
      //display:none;
    
    }
    
    video {
      position: fixed;
          top: 50%;
          left: 50%;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          z-index: -100;
          transform: translateX(-50%) translateY(-50%) scale(1.2);
          
          @include at-mobile {
            position:relative;
            top:0;
            left:0;
            @include transform(none);
          }
      
    }
    
    .showcase-caption {
      @include counter;
    
      position: absolute;
      bottom: $body-padding;
      left: $body-buffer;
      width: 100%;
    
      .caption-inner {
        width: $five-columns;
        margin: 0 auto;
        padding: 0 $line-height;
      }
    
      @include at-mobile {
        @include mobile-caption;
      }
      
      h3 {
        margin-bottom:0;
        padding-bottom:0;
      }
  
    }
    
  }
  
  

}





/*
*
*
*     SLICK SLIDER
*
*
*/

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
    
    .home & {
      height:100%;
      
      .slick-track {
        height:100%;
      }
    }
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/* Arrows */
.slick-prev,
.slick-next
{
  
  &.slick-disabled {
    display:none !important;
  } 
  
  
    @include univers;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;
    z-index:999;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    //color: transparent;
    position:absolute;
    outline: none;
    //background: transparent;
    
    &:after {
      content:'';
      display:none;
    }
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 0;
    
    background: transparent url('../images/arrow_left_black.svg') no-repeat scroll 0 0;
    background-size:contain;
    
    .white-text & {
      background: transparent url('../images/arrow_left_white.svg') no-repeat scroll 0 0;
      background-size:contain;
      
    }
    
     
    left: 1.90741em;
    z-index: 10000;
    width: 1.07407em;
    height: 2.03704em;
    background-size: 1.07407em 2.03704em;
    //margin-top: -1.01852em;
    margin-left: -.53704em;
    overflow: hidden;
    text-indent: -9999px;
    
    .overview & {
      @include at-mobile {
        left:0;
        margin-left:0;
      }
    }
    
}
[dir='rtl'] .slick-prev
{
    right: 0;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 0;
    background: transparent url('../images/arrow_right_black.svg') no-repeat scroll 0 0;
    background-size:contain;
    
    .white-text & {
      background: transparent url('../images/arrow_right_white.svg') no-repeat scroll 0 0;
      background-size:contain;
    }
    
    right: 1.90741em;
    z-index: 10000;
    width: 1.07407em;
    height: 2.03704em;
    background-size: 1.07407em 2.03704em;
    //margin-top: -1.01852em;
    margin-right: -.53704em;
    overflow: hidden;
    text-indent: -9999px;
    
    .overview & {
      @include at-mobile {
        right:0;
        margin-right:0;
      }
    }
    
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 0;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}