@font-face {
  font-family: 'soil-univers';
  src: url('../fonts/UniversLT-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/UniversLT-Bold.woff') format('woff'), url('../fonts/UniversLT-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'soil-univers';
  src: url('../fonts/UniversLT-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/UniversLT-BoldItalic.woff') format('woff'), url('../fonts/UniversLT-BoldItalic.ttf')  format('truetype');
  font-weight: 700;
  font-style: italic;
}



@mixin univers {
  font-family: 'soil-univers', "Univers", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: _(1px);
  word-spacing: 0.04em;
  
  -webkit-font-smoothing: antialiased;
  
  @include at-vertical-phone {
    font-size: $font-size * 0.75;
    -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
  }
  
  @include at-horizontal-phone {
    font-size: $font-size * 0.75;
    -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
  }
  
  @include at-giant-screen {
    font-size: $font-size * 1.26;
  }
  
}