@function _($px) {
  @return $px / $font-size * 1em;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}

%bg-image {
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
    width: 100%;
    height: 100%;
	background-color:black;
}

%scroll-container-y {
	overflow-x:hidden;
	overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
  
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}
 

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}





















@mixin blur($px: 0) {
    -webkit-filter: blur(#{$px}px) !important;
    -ms-filter: blur(#{$px}px) !important;
    -moz-filter: blur(#{$px}px) !important;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'#{$px}\' /></filter></svg>#blur");
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$px}');
    
    /* for performance */
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
}


@mixin do-blur($blur: $default-blur) {
  
  @include with-filters {
    filter: blur($blur);
    
    .white-text & {
      filter: blur($blur + $white-blur-falloff);
    }
  }
}

@mixin do-text-blur {
  .text,
  .related, .related-right {
    @include do-blur;
  }
}

@mixin custom-underline {
  position:relative;
  
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: -.09em;
    border-bottom: .14em solid #000;
    width: 100%;
    left:0;
    
    @include at-mobile {
      bottom: 0;
    }
    
    .white-text & {
      border-bottom: .1em solid #fff;
      
      *:hover & {
        border-bottom: .1em solid #fff;
      }
    }
  }
  
  
}

@mixin custom-underline-white {
  position:relative;
  
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    padding-bottom: .02em;
    border-bottom: .14em solid #fff;
    width: 100%;
    
  }
}

@mixin do-image-blur {
  
  @include with-filters {
    .block-holder, .block-slideshow {
      filter: blur($image-blur) !important;
      transition-duration:0s !important;
    }
  }
}

@mixin dont-blur() {
  @include with-filters {
    &, & a {
      filter: blur(0);
    }
    
    img, .video-player {
      filter: blur(0);
    }
  }
}

@mixin with-filters {
  html.cssfilters & {
    @content;
  }
}


/*
%blur-inactive {
  position:absolute;
  @include transform(scale(1.2));
  @include transition(.5s opacity);
  transition-property:opacity, -webkit-filter;
  @include opacity(0);
  @include blur(20);
  display:block !important;
  -webkit-transition-timing-function: linear; 
  transition-timing-function: linear;
  z-index:1;
}
*/







@mixin content-block {
  position: relative;
  top: $line-height;
  width: 50%;
  margin: $line-height * 2 auto;
  z-index: 8000;
}

@mixin indent {
  text-indent: $indent;
  
  @include at-small-screen {
    text-indent: $small-indent;
  }
}

@mixin block-indent {
  margin-left: $indent;
  
  @include at-small-screen {
    margin-left: $small-indent;
  }
}

@mixin univers {
  font-family: "Univers", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: _(1px);
  word-spacing: 0.04em;
  
  -webkit-font-smoothing: antialiased;
  
  @include at-vertical-phone {
    font-size: $font-size * 0.75;
    -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
  }
  
  @include at-horizontal-phone {
    font-size: $font-size * 0.75;
    -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
  }
  
  @include at-giant-screen {
    font-size: $font-size * 1.26;
  }
}

@mixin univers-p {
  font-size: 22px;
  line-height: 1.18em;
  letter-spacing:.02em;
  
  .wordmark, span {
    font-size: 22px;
    line-height: 1.18em;
    letter-spacing:.02em;
    
  }
  
  @include at-mobile {
    
    font-size:16px;
    line-height: 1.25em;
    
  }
  
  a:hover {
    font-style:italic;
    
    &:after {
      content:'';
      display:none;
      
    }
  
  }
}

@mixin centered {
  width: 50%;
  margin: 0 auto;
}

@mixin full-width-input {
  margin-top: -3px;
  
  .input-group {
    position: relative;
  }
  
  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 10px 10px 0;
    white-space: nowrap;
  }
  
  input[type="text"] {
    @include underline;
    margin-bottom: 5px;
    outline: none;
    width: 100%;
    text-indent: 5px;
    background-color: transparent;
    padding: 1px;
    -webkit-appearance: none;
    
    body.white-text & {
      border-color: white;
      color: white;
    }
  }
}

@mixin at-vertical-phone {
  @include at-mobile {
    @include at-small-vertical {
      @content;
    }
  }
}

@mixin at-horizontal-phone {
  @include at-mobile {
    @include at-small-horizontal {
      @content;
    }
  }
}

@mixin at-small-vertical {
  @media only screen 
    and (max-device-width : 600px) 
    and (orientation : portrait) {
    @content;
  }
}

@mixin at-small-horizontal {
  @media only screen 
    and (max-device-width : 700px) 
    and (orientation : landscape) {
    @content;
  }
}

@mixin when-horizontal {
  @media only screen 
    and (orientation : landscape) {
    @content;
  }
}

@mixin when-vertical {
  @media only screen 
    and (orientation : portrait) {
    @content;
  }
}

@mixin at-giant-screen {
  @media screen and (min-width: 1650px) {
    @content;
  }
}

@mixin at-small-screen {
  @media screen and (max-width: 600px) {
    @content;
  }
}

 
@mixin at-mobile {
  .touch & {
    @content;
  }
}

@mixin at-desktop {
  .no-touch & {
    @content;
  }
}

@mixin at-tablet {
  @include at-mobile {
    @media only screen 
      and (min-device-width : 600px) {
      @content;
    }
  }
}

%smaller-text {
  font-size: 22px;
  line-height: 1.18em;
  letter-spacing:.02em;
  
  @include at-mobile {
    
    font-size:16px;
    line-height: 1.25em;
    
  }
}




@mixin at-horizontal-tablet {
  @include at-mobile {
    @media only screen 
      and (min-device-width : 600px)
      and (orientation : landscape) {
      @content;
    }
  }
}

@mixin at-vertical-tablet {
  @include at-mobile {
    @media only screen 
      and (min-device-width : 600px)
      and (orientation : portrait) {
      @content;
    }
  }
}

@mixin under-min-width {
  @media (max-width: $min-width) {
    @content;
  }
}

@mixin mobile-block {
  @include at-mobile {
    position: relative;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    min-width: none;
    width: auto;
    margin: 0;
    
    header {
      display: none !important;
    }
    
    h1 {
      position: relative;
    }
    
    .text {
      -webkit-transform: translate3d(0,0,0);
    }
    
    .related {
      display: none;
    }
  }
}

@mixin container($inner: '') {
  padding-left: $body-padding;
  padding-right: $body-padding;
  
  @if($inner) {
    .#{$inner}-inner {
      @include container-inner;
    }
  }
}

@mixin container-inner {
  position: relative;
  margin-left: -$buffer;
  margin-right: -$buffer;
  
  @include at-mobile {
    margin-left: 0;
    margin-right: 0;
  }
}

@mixin has-inner {
  .inner {
    padding: 0 $buffer;
    
    @include at-mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@mixin underline {
  border: none;
  //border-bottom: $border-weight solid black;
  border-radius: 0;
  
  @include custom-underline;
  
  @include at-giant-screen {
    //border-bottom-width: $giant-border-weight;
  }
}

@mixin nav-hover-state {
  $line-height-offset: _(2px);
  
  @include underline;
  line-height: $line-height - $border-weight - $line-height-offset;
  margin-bottom: _(-1px);
  
  .white-text & {
    border-color: white !important;
    @include custom-underline-white;
    
    &:hover {
      @include custom-underline-white;
    }
  }
  
  @include at-giant-screen {
    line-height: $line-height - $giant-border-weight - $line-height-offset;
  }
  
}

@mixin image-sidebar($width: $two-columns, $left: $seven-columns) {
  .images {
    display: none;

    .container {
      width: $width;
      position: absolute;
      left: $left;
      top: 0;
    }

    .inner {
      padding: 0 $buffer;
    }

    .image,
    .video {
      cursor: pointer;
      margin-bottom: $line-height;
      position: fixed;
      top: -90000%;
      left: -90000%;

      img,
      .vjs-player {
        width: 100%;
        display: block;
        opacity: 1 !important;
      }
      
      video, object {
        width: 100%;
      }
      
      .caption {
        margin-top: $line-height / 3;
      }
      
      &.active {
        position: static;
        top: 0;
        left: 0;
      }
      
      @include at-mobile {
        position: static;
        width: 100%;
      }
    }

    .video {
      height: 100%;
      width: 100%;
    }
    
    .background {
      display: none;
    }

  }
  
  body.showing-footnote .images,
  &.showing-footnote .images {
    display: block;
  }
}

@mixin background {
  .background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 7000;
    
    .no-touch.not-chrome & img {
      transform: translate3d(0, 0, 0);
    }

    &[data-full-bleed="true"] {
      @include scale-crop;
    }
    
    @include at-mobile {
      position: absolute;
      //display: block !important;
    }
    
    @content;
  }
  
  &.active {
    .background {
      display: block;
    }
  }
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

@mixin scale-crop {
  transform: scale($cropping-enlargement) !important;
  
  @include at-mobile {
    transform: scale(1) !important;
  }
}

@mixin fixed-position-min-width {
  @include under-min-width {
    right: auto;
    width: $min-width-ems - $body-buffer * 2;
  }
}

@mixin fixed-position-min-width-full {
  @include under-min-width {
    right: auto;
    width: $min-width-ems;
  }
}

@mixin columns($number) {
  -webkit-column-count: $number;
  -moz-column-count: $number;
  column-count: $number;
}

@mixin horizontal-nav {
  nav li {
    display: inline-block;
    margin-right: _(10px);
  }
}

@mixin horizontal-mobile-nav {
  @include at-horizontal-phone {
    @include horizontal-nav;
  }

  @include at-horizontal-tablet {
    @include horizontal-nav;
  }
}

@mixin svg-slideshow-button($name, $width, $height, $left: 50%, $right: '') {
  background: transparent url('../svg/#{$name}_black.svg') no-repeat scroll 0 0;
  position: absolute;
  top: 50%;
  
  @if ($right != '') {
    right: $right;
  } @else {
    left: $left;
  }
  z-index: 10000;

  width: $width;
  height: $height;
  background-size: $width $height;
  margin-top: $height / -2;
  
  @if ($right != '') {
    margin-right: $width / -2;
  } @else {
    margin-left: $width / -2;
  }
  
  overflow: hidden;
  text-indent: -9999px;
  
  .block.white &,
  .white-text & {
    background-image: url('../svg/#{$name}_white.svg');
  }
}

@mixin slick-slideshow($item: ".image") {
  .slick-initialized {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    #{unquote($item)} {
      @include background;
      overflow: hidden;
    }
    
    .background {
      
      background-size:contain;
      background-repeat:no-repeat;
      background-position:center center;
      
    }
    
    img {
      display: none;
    }
    
    @include caption {
      display: block;
    }
    
    .video-poster {
      display: block;
    }
    
    &.is-swiping {
      .caption,
      .play-button,
      .previous,
      .next,
      h1 {
        display: none !important;
      }
    }
  }
}

@mixin project-slideshow {
  @include slick-slideshow;
  
  overflow: hidden;
  display: block;
  
  .container {
    background-color: white;
    z-index: 11000;
  }
  
  .image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .caption {
    @include mobile-caption;
  }
}

@mixin counter {
  .counter {
    float: left;
  }
  
  .counter + .description {
    margin-left: _(90px);
  }
}

@mixin caption {
  .caption {
    @include counter;
    
    position: absolute;
    bottom: $body-padding;
    left: $body-buffer;
    width: 100%;
    z-index: 12000;
    display: none;
    
    .caption-inner {
      width: $five-columns;
      margin: 0 auto;
      padding: 0 $line-height;
    }
    
    @include at-mobile {
      @include mobile-caption;
    }
    
    @content;
  }
}

@mixin mobile-caption {
  left: 0 !important;
  width: 100% !important;
  
  .caption-inner {
    width: auto !important;
    padding: 0 $body-padding !important;
    -webkit-text-size-adjust: 100%;
  }
}

@mixin float-mobile-nav-against($content) {
  .main-nav {
    position: fixed;
    top: $body-padding;
    left: $body-padding;
  }

  .subnav,
  #{unquote($content)} {
    margin-left: 35%;
    width: 65%;
  }
  
  .content {
    padding-top: 0;
  }
  
  @include at-small-horizontal {
    .subnav,
    #{unquote($content)} {
      margin-left: 30%;
      width: 70%;
    }
  }
}

@mixin unfloat-mobile-nav-against($content) {
  .main-nav {
    position: static;
    margin-bottom: $line-height;
  }
  
  .subnav,
  #{unquote($content)} {
    margin-left: 0;
    width: 100%;
  }
}

@mixin columned-navigation {
  @include columns(2);
  @include at-small-vertical {
    @include columns(auto);
  }
  
  @content;
}

@mixin columned-subnav {
  .subnav .inner > ul {
    @include columned-navigation {
      padding-top: 0;
      padding-bottom: $line-height;
      margin-bottom: 0;
    }
  }
}

@mixin image-max-dimensions {
  $large-max: _(290px);
  $small-max: _(148px);
  
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  
  @include at-mobile {
    max-height: $large-max;
    max-width: $large-max;
    margin: $line-height / -2 0;
  }
  
  @include at-vertical-phone {
    max-height: $small-max;
    max-width: 100%;
  }

  @include at-horizontal-phone {
    max-height: $small-max;
    max-width: 100%;
  }
}